@charset "UTF-8";

body {
    background: rgb(167, 236, 167);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

h1#principal {
    text-align: center;
    background: white;

}

h2 {
    color: blue;
}
.basico {
    color: brown;
    
}

.intermediario {
    color: rgb(157, 165, 42);
}

.avancado {
    color: rgb(228, 5, 5);
}


